<header class="header">
    <nav class="header-nav d-none-sm">
        <div class="container d-f a-i-c j-c-b">
            <div class="header-nav__delivery d-f a-i-c ">
                <i class="icon icon-shipping header-nav__delivery--icon"></i>
                <span class="header-nav__delivery--name header-nav__delivery--name-bold">Օնլայն</span>

                <span class="header-nav__delivery--name header-nav__delivery--name-neutral">առաքում 24/7
                    սկզբունքով</span>
            </div>
            <div class="header-nav__info d-f a-i-c j-c-b">
                <a href="tel:+37496060424" class="header-nav__info--link header-nav__info--item d-f a-i-c">
                    <i class="icon icon-phone header-nav__info--item-icon"></i>
                    <span class="header-nav__info--item-name header-nav__info--link-name">+374 (96) 06 04 24</span>
                </a>
                <a href="mailto:nvercardinfo@mail.com" class="header-nav__info--link header-nav__info--item d-f a-i-c">
                    <i class="icon icon-mail header-nav__info--item-icon"></i>
                    <span class="header-nav__info--item-name header-nav__info--link-name">nvercardinfo@mail.com</span>
                </a>

                <div class="header-nav__info--socicon d-f">
                    <a class="header-nav__info--socicon-link icon icon-facebook" href="facebook.com"
                        target="_blank"></a>
                    <a class="header-nav__info--socicon-link icon icon-instagram" href="facebook.com"
                        target="_blank"></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="header-content">
        <div class="container d-f a-i-c j-c-b">
            <a href="/" class="header-content__logo">
                <img src="../assets/img/logo/logo.svg" class="contain" alt="logo">
            </a>

            <form action="#" class="header-content__search" header-mobile-serach>
                <div class="header-content__search--head d-none d-block-sm-flex a-i-c j-c-b">
                    <a href="/" class="header-content__search--head-logo">
                        <img src="../assets/img/logo/logo.svg" class="contain" alt="logo">
                    </a>
                    <i class="header-content__search--close icon icon-close d-f a-i-c j-c-c"
                        click-close-search-close></i>
                </div>
                <input type="text" class="header-content__search--area" placeholder="Որոնել" serach-focus-toggle>
                <button class="header-content__search--btn icon icon-search d-f a-i-c j-c-c"></button>
                <div class="header-content__search--result d-none d-block-sm" serach-focus-result>
                    <div class="header-content__search--result-list">
                        <a href="javascript:;" class="header-content__search--result-list__link">Նվեր քարտ</a>
                        <a href="javascript:;" class="header-content__search--result-list__link">Կոշիկ</a>
                    </div>
                    <div class="header-content__search--result-static">
                        <h2 class="header-content__search--result-static__title">Top gift cards</h2>
                        <div class="header-content__search--result-static__box">
                            <ul class="header-content__search--result-static__box--list d-f f-w">
                                <li class="header-content__search--result-static__box--list-item">
                                    <a href="javascript:;"
                                        class="header-content__search--result-static__box--list-item__link">Waikiki</a>
                                </li>
                            </ul>
                        </div>
                        <h2 class="header-content__search--result-static__title">Lavaguyn vacharq</h2>
                        <div class="header-content__search--result-static__box">
                            <ul class="header-content__search--result-static__box--list d-f f-w">
                                <li class="header-content__search--result-static__box--list-item">
                                    <a href="javascript:;"
                                        class="header-content__search--result-static__box--list-item__link">Waikiki</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>



            <div class="header-content__info d-f a-i-c d-none-sm">
                <i class="header-content__icons--item header-content__icons--search icon icon-search d-none d-block-sm-flex a-i-c j-c-c"
                    click-serach-open></i>
                <div class="header-content__info--languages d-f a-i-c">
                    <a href="javascript:;" class="header-content__info--languages-link active">հայ</a>
                    <a href="javascript:;" class="header-content__info--languages-link">en</a>
                    <a href="javascript:;" class="header-content__info--languages-link">ру</a>
                </div>
                <div class="header-content__info--exchange dropdown">
                    <button class="dropdown-select click-expand d-f a-i-c" window-click data-expand="false">
                        <span class="dropdown-select__selected">AMD</span>
                        <i class="icon icon-arrow_down dropdown-select__arrow"></i>
                    </button>
                    <ul class="dropdown-list expand-block d-none">
                        <li class="dropdown-list__item active">AMD</li>
                        <li class="dropdown-list__item">USD</li>
                        <li class="dropdown-list__item">RUB</li>

                        <select hidden name="selectListName">
                            <option value="1">1</option>
                        </select>
                    </ul>
                </div>
            </div>

            <div class="header-content__icons d-none d-block-sm-flex">
                <i class="header-content__icons--item header-content__icons--search icon icon-search d-f a-i-c j-c-c"
                    click-serach-open window-click></i>
                <i class="header-content__icons--item header-content__icons--burger icon icon-menu_burger d-f a-i-c j-c-c"
                    click-burger-nav-open window-click></i>
            </div>
        </div>
    </div>

    <div class="header-nav__mobile d-none d-block-sm" nav-mobile-open>
        <div class="header-nav__mobile--head d-f a-i-c j-c-b">
            <a href="javascript:;" class="header-nav__mobile--head-logo">
                <img src="../assets/img/logo/logo.svg" class="contain" alt="logo">
            </a>
            <i class="header-nav__mobile--head-close icon icon-close d-f a-i-c j-c-c" click-close-nav-close></i>
        </div>
        <div class="header-nav__mobile--body">
            <div class="header-nav__mobile--body-delivery d-f a-i-c j-c-b">
                <div class="header-nav__mobile--body-delivery__box d-f a-i-c">
                    <i class="icon icon-shipping header-nav__mobile--body-delivery__box--icon"></i>
                    <span
                        class="header-nav__mobile--body-delivery__box--name header-nav__mobile--body-delivery__box--name-bold">Օնլայն</span>
                    <span
                        class="header-nav__mobile--body-delivery__box--name header-nav__mobile--body-delivery__box--name-neutral">առաքում</span>
                </div>
                <div class="header-nav__mobile--body-delivery__time d-f a-i-c">
                    <i class="icon icon-clock header-nav__mobile--body-delivery__time--icon"></i>
                    <span class="header-nav__mobile--body-delivery__time--name">24/7</span>
                </div>
            </div>
            <div class="header-content__info d-f a-i-c">
                <div class="header-content__info--languages d-f a-i-c">
                    <a href="javascript:;" class="header-content__info--languages-link active">հայ</a>
                    <a href="javascript:;" class="header-content__info--languages-link">en</a>
                    <a href="javascript:;" class="header-content__info--languages-link">ру</a>
                </div>
                <div class="header-content__info--exchange dropdown">
                    <button class="dropdown-select click-expand d-f a-i-c" window-click data-expand="false">
                        <span class="dropdown-select__selected">AMD</span>
                        <i class="icon icon-arrow_down dropdown-select__arrow"></i>
                    </button>
                    <ul class="dropdown-list expand-block d-none">
                        <li class="dropdown-list__item active">AMD</li>
                        <li class="dropdown-list__item">USD</li>
                        <li class="dropdown-list__item">RUB</li>

                        <select hidden name="selectListName">
                            <option value="1">1</option>
                        </select>
                    </ul>
                </div>
            </div>
            <div class="header-nav__mobile--body-info">
                <a href="javascript:;" class="header-nav__mobile--body-info__link d-f a-i-c">
                    <i class="icon icon-phone header-nav__mobile--body-info__link--icon d-f a-i-c j-c-c"></i>
                    <span class="header-nav__mobile--body-info__link--name">+374 (96) 06 04 24</span>
                </a>
                <a href="javascript:;" class="header-nav__mobile--body-info__link d-f a-i-c">
                    <i class="icon icon-mail header-nav__mobile--body-info__link--icon d-f a-i-c j-c-c"></i>
                    <span class="header-nav__mobile--body-info__link--name">nvercardinfo@mail.com</span>
                </a>
            </div>
            <div class="header-nav__mobile--body-socicon d-f j-c-c">
                <a class="header-nav__mobile--body-socicon__link icon icon-facebook d-i-f a-i-c j-c-c"
                    href="facebook.com" target="_blank"></a>
                <a class="header-nav__mobile--body-socicon__link icon icon-instagram d-i-f a-i-c j-c-c"
                    href="instagram.com" target="_blank"></a>
            </div>
            <div class="header-nav__mobile--body-links">
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Դառնալ գործընկեր</a>
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Մեր մասին</a>
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Հաճախ տրվող հարցեր</a>
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Հետադարձ կապ</a>
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Օգտվելու կանոններ</a>
                <a href="javascript:;" class="header-nav__mobile--body-links__item">Գաղտնիության քաղաքականություն</a>
            </div>

            <div class="header-nav__mobile--body-footer">
                <form action="#" class="header-nav__mobile--body-footer__form">
                    <p class="header-nav__mobile--body-footer__form--title">Իմացիր առաջինը նորությունների մասին</p>
                    <div class="header-nav__mobile--body-footer__form--area">
                        <input type="mail" placeholder="էլ։ հասցե"
                            class="header-nav__mobile--body-footer__form--area-input">
                        <button class="header-nav__mobile--body-footer__form--area-btn icon icon-send"></button>
                    </div>
                </form>
                <div class="header-nav__mobile--body-footer__info">
                    <div class="header-nav__mobile--body-footer__info--payments d-f a-i-c j-c-c">
                        <div class="header-nav__mobile--body-footer__info--payments-img">
                            <img src="../assets/img/footer/easypay.svg" alt="EASYPAY">
                        </div>
                        <div class="header-nav__mobile--body-footer__info--payments-img">
                            <img src="../assets/img/footer/master.svg" alt="MasterCard">
                        </div>
                        <div class="header-nav__mobile--body-footer__info--payments-img">
                            <img src="../assets/img/footer/visa.svg" alt="VISA">
                        </div>
                    </div>
                    <div class="header-nav__mobile--body-footer__info--brand d-f a-i-c j-c-c">
                        <i class="icon icon-cc header-nav__mobile--body-footer__info--brand-icon"></i>
                        <span class="header-nav__mobile--body-footer__info--brand-year">2021</span>
                        <span class="header-nav__mobile--body-footer__info--brand-name">nvercard.am</span>
                    </div>
                    <p class="header-nav__mobile--body-footer__info--copyright">
                        Բոլոր իրավունքները պաշտպանված են
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>