@page "/questions"

<section class="questions container">
   <div class="questions-block">
      <h4 class="questions-block__title">Հաճախակի տրվող հարցեր</h4>
      <div class="questions-block__list d-f">
         <p class="questions-block__list--question">Ինչպե՞ս կարող եմ պարզել ապրանքի մանրամասները
         </p>
         <p class="questions-block__list--answer">Եթե դուք հետաքրքրված եք ապրանքի մանրամասն նկարագրությամբ, կարող եք
            անցնել տվյալ ապրանքի էջ և ծանոթանալ նկարագրությանը</p>
      </div>
      <div class="questions-block__list d-f">
         <p class="questions-block__list--question">Ի՞նչ է ունիվերսալ քարտը
         </p>
         <p class="questions-block__list--answer">Այս քարտատեսակը հնարավորություն է տալիս ընտրել միաժամանակ տարբեր
            նախընտրելի նվերներ մեր գործընկերների կողմից մատուցվող ծառայությունների և առաջարկվող տեսականիի ցանկից, ստանալ
            կամ կուտակել հավելյալ բոնուսներ</p>
      </div>
      <div class="questions-block__list d-f">
         <p class="questions-block__list--question">Ինչպե՞ս կարող եմ պարզել ապրանքի մանրամասները
         </p>
         <p class="questions-block__list--answer">Եթե դուք հետաքրքրված եք ապրանքի մանրամասն նկարագրությամբ, կարող եք
            անցնել տվյալ ապրանքի էջ և ծանոթանալ նկարագրությանը</p>
      </div>
      <div class="questions-block__list d-f">
         <p class="questions-block__list--question">Ի՞նչ է ունիվերսալ քարտը
         </p>
         <p class="questions-block__list--answer">Այս քարտատեսակը հնարավորություն է տալիս ընտրել միաժամանակ տարբեր
            նախընտրելի նվերներ մեր գործընկերների կողմից մատուցվող ծառայությունների և առաջարկվող տեսականիի ցանկից, ստանալ
            կամ կուտակել հավելյալ բոնուսներ</p>
      </div>

   </div>

</section>