<footer class="footer d-none-sm">
   <div class="container">
      <div class="footer-block">
         <a href="/" class="footer-block__logo">
            <img src="../assets/img/logo/logo.svg" class="contain" alt="logo" />
         </a>
         <div class="footer-block__info d-f j-c-b f_w">
            <div class="footer-block__info--main d-f j-c-b">
               <div class="footer-block__info--main-callcenter">
                  <a href="tel:+37496060424" class="footer-block__info--main-callcenter__link d-f a-i-c">
                     <i class="icon icon-phone"></i>
                     <p class="footer-block__info--main-callcenter__link--text">
                        +374
                        (96) 06
                        04 24</p>
                  </a>
                  <a href="mailto:nvercardinfo@mail.com" class="footer-block__info--main-callcenter__link d-f a-i-c">
                     <i class="icon icon-mail"></i>
                     <p class="footer-block__info--main-callcenter__link--text">
                        nvercardinfo@mail.com</p>
                  </a>
                  <div class="footer-block__info--main-callcenter__media d-f">
                     <a href="#" class="icon icon-facebook d-f j-c-c a-i-c"></a>
                     <a href="#" class="icon icon-instagram d-f j-c-c a-i-c"></a>

                  </div>
               </div>
               <ul class="footer-block__info--main-menu d_f">
                  <li class="footer-block__info--main-menu__item">
                     <a href="#" class="footer-block__info--main-menu__item--link">Դառնալ գործընկեր
                     </a>
                  </li>
                  <li class="footer-block__info--main-menu__item">
                     <a href="javascript:;" class="footer-block__info--main-menu__item--link">Մեր մասին
                     </a>
                  </li>
                  <li class="footer-block__info--main-menu__item">
                     <a href="javascript:;" class="footer-block__info--main-menu__item--link">Հաճախ տրվող հարցեր
                     </a>
                  </li>
                  <li class="footer-block__info--main-menu__item">
                     <a href="javascript:;" class="footer-block__info--main-menu__item--link">Հետադարձ կապ
                     </a>
                  </li>
               </ul>

               <ul class="footer-block__info--main-menu d_f">
                  <li class="footer-block__info--main-menu__item">
                     <a href="/" class="footer-block__info--main-menu__item--link">Օգտվելու կանոններ
                     </a>
                  </li>
                  <li class="footer-block__info--main-menu__item">
                     <a href="javascript:;" class="footer-block__info--main-menu__item--link">Գաղտնիության
                        քաղաքականություն</a>
                  </li>
               </ul>
            </div>
            <div class="footer-block__info--news">
               <h4 class="footer-block__info--news-title">Իմացիր առաջինը նորությունների մասին</h4>
               <form action="#" class="footer-content__search">
                  <input type="text" class="footer-content__search--area" placeholder="Էլ: Հասցե">
                  <button class="footer-content__search--btn icon icon-send d-f a-i-c j-c-c"></button>
               </form>
            </div>
         </div>
         <div class="footer-block__pay d-f j-c-b a-i-c">
            <p class="footer-block__pay--text">
               <i class="icon"></i>
               2021 nvercard.am <span class="footer-block__pay--text-rules">Բոլոր իրավունքները պաշտպանված են</span>
            </p>
            <div class="footer-block__pay--icon d-f a-i-c">
               <p class="footer-block__pay--icon-info">Վճարման եղանակներ</p>
               <a href="#" class="footer-block__pay--icon-type"><img src="../assets/img/footer/easypay.svg"
                     alt="pay"></a>
               <a href="#" class="footer-block__pay--icon-type"><img src=" ../assets/img/footer/master.svg"
                     alt="pay"></a>
               <a href="#" class="footer-block__pay--icon-type"><img src=" ../assets/img/footer/visa.svg" alt="pay"></a>
            </div>
         </div>
      </div>
   </div>
</footer>