@page "/about"


<section class="about account">
   <div class="container">
      <div class="crumb d-f a-i-c">
         <a href="#" class="crumb-logo d-f a-i-c j-c-c d-none-xs"><img class="crumb-logo__img"
               src="../assets/img/favicon/logo-round-light.png"></a>
         <i class="crumb-arrow icon icon-arrow_right"></i>
         <a class="crumb-page d-none-xs" href="/products">Բոլոր քարտերը</a>
         <a class="crumb-page d-none d-block-xs" href="/">Գլխավոր</a>
      </div>
      <div class="about-block d-f">
         <div class="account-menu d-none-md">
            <div class="account-menu__number">Մեր մասին</div>
            <ul class="account-menu__pages d-block-sm-flex">
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link" href="#">Ընկերության մասին</a>
               </li>
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link" href="#">Կանոններ</a>
               </li>
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link active" href="#">Պատվերի կարգը</a>
               </li>
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link" href="#">Պատվերի վճարման կարգը</a>
               </li>
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link" href="#">Անկանխիկ վճարում</a>
               </li>
               <li class="account-menu__pages--single">
                  <a class="account-menu__pages--single-link" href="#">Անկանխիկ վճարում</a>
               </li>
            </ul>
         </div>
         <div class="d-none-lg dropdown d-block-md about-block__dropdown">
            <div class="dropdown-select click-expand d-f a-i-c" window-click data-expand="false">
               <span class="dropdown-select__selected">Պատվերի կարգը</span>
               <i class="icon icon-arrow_down dropdown-select__arrow--black"></i>
            </div>
            <ul class="dropdown-list expand-block d-none">
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part" href="#">Ընկերության մասին</a>
               </li>
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part" href="#">Կանոններ</a>
               </li>
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part active" href="#">Պատվերի կարգը</a>
               </li>
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part" href="#">Պատվերի վճարման կարգը</a>
               </li>
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part" href="#">Անկանխիկ վճարում</a>
               </li>
               <li class="dropdown-list__item">
                  <a class="dropdown-list__item--part" href="#">Անկանխիկ վճարում</a>
               </li>
            </ul>
         </div>
         <div class="about-block__text">
            <h4 class="about-block__text--title">Պատվերի կարգը</h4>
            <p class="about-block__text--info">Nvercard.am-ը հանդիսանում է Հայաստանում առաջինն իր տեսակով ու
               բնույթով, այն կօգնի Ձեզ խնայել ժամանակը և
               առանց տանից դուրս գալու՝ օնլայն տարբերակով, ձեռք բերել նվեր քարտ՝ տալով սեփական ընտրության
               հնարավորություն նվեր ստացողին: Այն նաև Ձեզ է առաջարկում իր բացառիկ «Ունիվերսալ» քարտը, որը թույլ է տալիս
               մեկ քարտի միջոցով դառնալ միաժամանակ մեկ և ավելի քարտերի քարտապան: Առաջարկվող քարտերի վավերականության
               ժամկետը կախված է քարտատեսակից, սակայն այն չի կարող լինել ոչ պակաս քան 6 ամիսը: nvercard.am-ը
               համագործակցելով բազմաթիվ ընկերությունների հետ, քարտապանին տալիս է նվերի մեծ ընտրության հնարավորություն:
            </p>
            <p class="about-block__text--info"> Կայքի գերխնդիրն է նվերի ընտրությունը դարձնել արագ, մատչելի և
               հետաքրքիր, ինչպես նաև զարգացնել օնլայն
               գնումները, դարձնելով այն յուրաքանչյուրի համար հարմարավետ: Մեր հաճախորդները կարող են, էլեկտրոնային
               տարբերակով, նվեր քարտեր գնել անգամ մեր երկրի ամենահեռավոր կետերից:
            </p>
            <p class="about-block__text--info"> Իսկ կորպորատիվ հաճախորդների համար առաջարկում ենք հատո՛ւկ փաթեթներ,
               հատո՛ւկ պայմաններով:</p>
            <h4 class="about-block__text--title">Քայլերի հերթականությունը</h4>
            <ol class="about-block__text--steps">
               <li class="about-block__text--steps-info">1. Գրանցվել կայքում,</li>
               <li class="about-block__text--steps-info">2. Լրացնել անձնական տվյալները,</li>
               <li class="about-block__text--steps-info">3. Կատարել օնլայն վճարում,</li>
               <li class="about-block__text--steps-info">4. Նշել առաքման տեսակը (էլեկտրոնային/առձեռն)</li>
            </ol>

         </div>
      </div>
   </div>
</section>
