@page "/error404"

<!-- ===================== -EMPTY-404-START- ========================== -->
<section class="empty">
   <div class="empty-block d-f j-c-c a-i-c f-d-c">
      <div class="empty-block__img">
         <img src="../assets/img/empty/not_found.png" alt="empty">
      </div>
      <h4 class="empty-block__title">Metus netus magna sagittis et.</h4>
      <div class="empty-block__button">
         <a href="#" class="btn button btn-background empty-block__button--btn">Կատարել գնում</a>
      </div>
   </div>
</section>
<!-- ====================== -EMPTY-404-END- =========================== -->

<!-- ==================== -EMPTY-NOT-FOUND-START- ======================== -->
<section class="empty">
   <div class="empty-block d-f j-c-c a-i-c f-d-c">
      <div class="empty-block__img">
         <img src="../assets/img/empty/search_not _found.png" alt="empty">
      </div>
      <h4 class="empty-block__title">Որոնման արդյունքում ոչինչ չի գտնվել</h4>
      <p class="empty-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor molestie lectus
         varius laoreet nisl, sit nisl, scelerisque odio. Nisl etiam tortor habitant morbi.</p>
      <div class="empty-block__button d-f">
         <button class="btn button btn-background empty-block__button--found">Ուղարկել report</button>
         <a href="#" class="btn btn-border button empty-block__button--found">Կատարել գնում</a>
      </div>
   </div>
</section>
<section class="top-sales section-block">
   <div class="container">
      <div class="section-block__list">
         <h2 class="section-block__list--title">Հաճախորդները նաև նայում են...</h2>
         <div class="slick-carousel" product-slider>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/card-mockup2.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/nvercard.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/card-mockup1.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/card-mockup2.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/card-mockup1.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
            <div>
               <div class="section-block__list--slide card">
                  <a href="/product" class="card-link">
                     <div class="card-link__img">
                        <img src="../assets/img/products/card-mockup3.png" alt="card" class="card-link__img--main">
                     </div>
                     <div class="card-link__info">
                        <h3 class="card-link__info--name">Բրենդի անուն</h3>
                        <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                     </div>
                  </a>
                  <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ==================== -EMPTY-NOT_FOUND-END- ======+================== -->