@if (Visible)
{
    <section class="empty">
        <div class="empty-block d-f j-c-c a-i-c f-d-c">
            <div class="empty-block__img">
                <img src="../assets/img/thanks/done.png" alt="empty">
            </div>
            <h4 class="empty-block__title">Շնորհակալություն</h4>
            <p class="empty-block__text">
                գնումների համար։ Շարունակեք ձեզ և ձեր ընկերներին պարգևել լավագույն նվերները։ Պատվերի ընթացքին կարող եք հետևել "Իմ պատվերները" էջում։
            </p>
            <div class="empty-block__button d-f">
                <a href="/products" class="btn button btn-background empty-block__button--thanks">Շարունակել գնումները</a>
                <a href="/account-order" class="btn btn-border button empty-block__button--thanks">Իմ պատվերները</a>
            </div>
        </div>
    </section>
    <section class="top-sales section-block">
        <div class="container">
            <div class="section-block__list">
                <h2 class="section-block__list--title">Հաճախորդները նաև նայում են...</h2>
                <div class="slick-carousel" product-slider>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/card-mockup2.png" alt="card"
                                    class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/nvercard.png" alt="card" class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/card-mockup1.png" alt="card"
                                    class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/card-mockup2.png" alt="card"
                                    class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/card-mockup1.png" alt="card"
                                    class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                    <div>
                        <div class="section-block__list--slide card">
                            <a href="/product" class="card-link">
                                <div class="card-link__img">
                                    <img src="../assets/img/products/card-mockup3.png" alt="card"
                                    class="card-link__img--main">
                                </div>
                                <div class="card-link__info">
                                    <h3 class="card-link__info--name">Բրենդի անուն</h3>
                                    <p class="card-link__info--price">5.000 ֏ - 40.000 ֏</p>
                                </div>
                            </a>
                            <a href="javascript:;" class="icon icon-heart card-icon d-f a-i-c j-c-c"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
